@import "../node_modules/bootstrap/scss/bootstrap"; 


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;

}

html {
  scroll-behavior: smooth;
}


:root {
  --primary-color: #ffd500;
  --white-color: #ffffff;
  --dark-color: #010101;
  --menu-bg-color: #212529;

  --gray-color: #909090;
  --p-color: #7d7a7a;

  --base-font-family: "Plain", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-weight-bold: 600;
  --font-weight-normal: 400;
  --font-weight-light: 300;

  --h1-font-size: 56px;
  --h2-font-size: 48px;
  --h3-font-size: 38px;
  --h4-font-size: 34px;
  --h5-font-size: 30px;
  --h6-font-size: 24px;
  --p-font-size: 18px;
  --base-font-size: 16px;
  --button-font-size: 20px;

  --border-radius-large: 100%;
  --border-radius-medium: 80px;
  --border-radius-small: 40px;
}


body {
  font-family: var(--base-font-family);
}


/*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

h1 {
  font-size: var(--h1-font-size);
}

h1,
h3 {
  font-weight: var(--font-weight-light);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-weight: var(--font-weight-bold);
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
  letter-spacing: 0.3px;
  line-height: 2em;
}

.section-padding {
  padding: 6rem 0;
}

.custom-icon {
  font-size: 12px;
  position: relative;
  bottom: 3px;
  left: 5px;
  transform: rotate(-25deg);
}


/* CUSTOM BUTTON */
.custom-btn {
  background: var(--dark-color);
  border: none;
  border-radius: var(--border-radius-medium);
  color: var(--white-color);
  letter-spacing: 0.2px;
  padding: 6px 36px 10px 36px;
  font-size: var(--button-font-size);
  white-space: nowrap;
}

.custom-btn:hover,
.custom-btn:focus {
  color: var(--dark-color);
  background: var(--primary-color);
}


/*---------------------------------------
    GENERAL               
-----------------------------------------*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: var(--dark-color);
  text-decoration: none;
  transition: all 0.4s linear;
}

a:hover {
  color: var(--dark-color);
  text-decoration: none;
}